name: Check
on: [pull_request]

jobs:
  build:
    name: Check
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

    - name: Make sure that ab0x files are checked in.
      shell: bash
      run:
        ls -l ./userspace/ebpf/ab0x_arm64.go ./userspace/ebpf/ab0x_amd64.go
