name: Test
on: [pull_request]

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

    - name: Set up Go 1.25
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe
      with:
        go-version: 1.25

        # Caching seems to really slow down the build due to the time
        # taken to save the cache.
        cache: false
      id: go

    - name: Build
      if: always()
      env:
        CC: x86_64-w64-mingw32-gcc
      shell: bash
      run: |
        go run make.go -v Bin
